{% extends "layout.html" %}
{% block content %}
    <center><h1>Nuevo usuario</h1>
        <hr>
        <form action="" method="POST">
    <select name="tipouser" id="tipouser" class="inputtext3">
        <option value="">Seleccione Tipo</option>
        {% for i in tipos %}
        <option value="{{i[0]}}">{{i[1]}}</option>
        {% endfor %}
    </select><br>
    <input type="text" id="nombre" name="nombre" class="inputtext1" placeholder="  Nombre"><br>
    <input type="text" id="user" name="user" class="inputtext1" placeholder="  User"><br>
    <input type="password" id="pwd" name="pwd" class="inputtext1" placeholder="  Contraseña"><br>
    <center><button onclick="submit" class="button">Aceptar</button></center>
</form>
</center>

    
{% endblock %}