{% extends "layout.html" %}
{% block content %}
    <h1>Ordenes de Compra - Historico</h1>
    <table>
        <tr>
            <th>No.</th>
            <th>Proveedor</th>
        </tr>
        {% for i in range(cantidad) %}
        <tr>
            <td>{{i + 1}}</td>
            <td><a href="/ordencompdetalleshist/{{ordenes[i][1]}}">{{ordenes[i][0]}}</a></td>
        {% endfor %}
    </table>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
{% endblock %}