{% extends "layout.html" %}
{% block content %}
    {% if cantcot == 0 %}
    <button type="button" class="button"><a style="color: white;" href="/agregarinsumos/1%26{{header}}">Agregar insumo</a></button>
    {% endif %}
	<a href="/editarpedido/{{header}}"><button type="button" class="button">Editar pedido</button></a>
	<a href="/agregarcotizacion/{{header}}"><button type="button" class="button">Agregar Cotización</button></a>
	<a href="/editarcotizaciones/{{header}}"><button type="button" class="button">Editar Cotizaciones</button></a>
	<a href="/matrizdecision/{{header}}"><button type="button" class="button">Matriz de Decisión</button></a>
    <a href="/pedidopdf/{{header}}" target="_blank"><button type="button" class="button">Imprimir PDF</button></a>
    <div id="tblinfo" class="tblinfo"><br>
        <h6>Universidad Galileo</h6>
        <h6>Facultad de Ciencias de la Salud</h6>
        <h6>Sede Quetzaltenango</h6>
        <h6>Departamento de Compras</h6>
        <hr>
        <center><h4>Pedido</h4></center>
        <center><h4>{{ nombreped }}</h4></center>
        <hr>
        <table>
            <tr>
                <th>No.</th>
                <th>Insumo</th>
                <th>Presentación</th>
                <th>Cantidad</th>
            </tr>
            {% for i in range(cantidad) %}
            <tr>
                <td>{{i + 1}}</td>
                <td>{{insumos[i][0]}}</td>
                <td>{{insumos[i][1]}}</td>
                <td>{{insumos[i][2]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}